doctype html
html
  head
    meta name='viewport' content='width=device-width, initial-scale=1.0')
    title Idea Hub
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-theme.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jquery.mobile-1.4.0.css')
    block scripts
      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/underscore.js')
      script(scc='js/backbone-min.js')
      script(src='http://cdn.kik.com/cards/0.11.2/cards.js')
      script(src='http://cdn.kik.com/app/1.10.0/app.js')
  body
      block content