extends layout

block content
	form(action='/uploadtest', enctype='multipart/form-data',  method='post')
		input(type='file', accept='image/gif, image/jpeg, image/png',  name='ideaImage')
		input(type='submit',  class='btn',  value='Upload file')

