extends layout

block content


	form(action='/upload', enctype='multipart/form-data',  method='post')
		input(type='text' name='title' placeholder='Idea')
		br
		textarea(name='pitch' rows='3' placeholder='Pitch')
		br
		input(type='text' name='positions' placeholder='Positions')
		br
		input(type='text' name='website' placeholder='Website')
		br
		input(type='text' name='industry' placeholder='Industry')
		br
		input(type='file', accept='image/gif, image/jpeg, image/png', name='ideaImage')
		br
		input(type='submit' class='btn' value='Submit')