body{
	height:100%;
	width:100%;
}

.ideaimg {
	width:120px;
	border: 1px solid #fff;
	margin-bottom: 20px;
}

.wide {
	margin-left:0px !important;
	margin-right:0px !important;
}

.idea {
	overflow:hidden;
	height: 200px;
	margin-right:1%;
	margin-left:1%;
	margin-bottom: 20px;
	border:3px solid #ddd;
	max-height:200px;
}