    <!-- Services -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Services</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-rocket"></i>
              <h4>Step 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque felis felis, malesuada eu scelerisque faucibus, eleifend nec leo. Nam egestas elementum eros. Sed tincidunt sapien in erat pellentesque lobortis. Suspendisse quis lectus dui. Etiam velit arcu, consectetur vel lorem id, dapibus ullamcorper nisl. Cras luctus, nulla vitae iaculis vehicula, nisl velit facilisis nibh, in posuere magna eros eu sem.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-magnet"></i>
              <h4>Step 2</h4>
              <p>Nam bibendum tortor venenatis, dapibus odio feugiat, dapibus dolor. Phasellus auctor eget neque fringilla consequat. Nam mollis massa enim. Aliquam mollis est id laoreet blandit. Phasellus vel sem sit amet dolor viverra varius eget vel magna. In dictum ac libero at pharetra.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Step 3</h4>
              <p>Nulla et velit enim. Praesent eu ultrices lectus, eu feugiat urna. Vestibulum elit ante, consequat at purus quis, volutpat imperdiet ipsum. Pellentesque malesuada egestas tristique. Donec id purus scelerisque, feugiat lectus vitae, vehicula mauris.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-pencil"></i>
              <h4>Step 4</h4>
              <p>Vivamus ultricies, nunc in rutrum lobortis, magna turpis ornare elit, pulvinar ornare nunc odio quis eros. Pellentesque elementum nulla ipsum, at fringilla eros ullamcorper id. Duis elementum vulputate massa, eget tincidunt est consequat vel.</p>
            </div>
          </div>
        </div>
        <center><a href="#" class="btn btn-default btn-lg">Find Out More</a></center>

      </div>
    <!-- /Services -->