/* put stuff here */
.img-grid .img {
	border: 1px solid #222;
}

.img-grid .thumbnail {
	float:left;
	margin:3px 0 0 3px;
	-webkit-background-size: cover;
	background-size: cover;
}

.placeholder {
	background:url(../img/lightbulb.png);
}